/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Mogra|Montserrat:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* -----------------------------Estilos Base------------------------------------ */
img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.colum {
    width: 100%;
}


/* ----------------------- Header ------------------------------------*/
.main-header {
    width: 100%;
}

.logo {
    font-size: 1.8em;
    color: #de423a;
    padding: 10px;
    font-family: 'Mogra', cursive;
    font-weight: 100;
}

.main-header__contacInfo__phone {
    background: #de423a;
    color: #fff;
    margin: 0 auto;
    padding: 10px;
}

.main-header__contacInfo__address {
    padding: 10px;
    margin: 0;
}